In [1]:
import create_aws as aws
import create_tables
import etl

# 1. Creating Redshift Cluster using the AWS python SDK

## 1.1 Creating IAM Role and Cluster

In [2]:
# Creating IAM Role, attaching Policy, Get the IAM role ARN and Creating Cluster.
aws.create_db()

1.0: IAM ROLE
1.1 Creating a new IAM Role
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::128300692899:role/sparkifyRole
2.0 Creating Cluster
X.X End Creating: Wait the cluster status becomes "Available"

## 1.2 *Describe* the cluster to see its status
- run this block several times until the cluster status becomes `Available`

In [3]:
# Define a myClusterProps with the cluster properties.
myClusterProps=aws.myClusterProps()

# Open an incoming TCP port to access the cluster ednpoint
aws.config_VPC(myClusterProps)

# See the cluster properties.
aws.prettyRedshiftProps(myClusterProps)

ec2.SecurityGroup(id='sg-882575d9')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

,Key,Value
0,ClusterIdentifier,sparkifycluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,sparkify
4,DBName,db_sparkify
5,Endpoint,"{'Address': 'sparkifycluster.cbo25hf0jzwi.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-3c83ea44
7,NumberOfNodes,4

# 2. Create Table Schemas and Build ETL Pipeline

## 2.1 Creating Table Schemas
- **staging_events:** event data telling what users have done (columns: *event_id, artist, auth, firstName, gender, itemInSession, lastName, length, level, location, method, page, registration, sessionId, song, status, ts, userAgent, userId*)

- **staging_songs:** song data about songs and artists (columns: *num_songs, artist_id, artist_latitude, artist_longitude, artist_location, artist_name, song_id, title, duration, year*)

- **songplays:** song play data together with user, artist, and song info (columns: *songplay_id, start_time, user_id, level, song_id, artist_id, session_id, location, user_agent*)

- **users:** user info (columns: *user_id, first_name, last_name, gender, level*)

- **songs:** song info (columns: *song_id, title, artist_id, year, duration*)

- **artists:** artist info (columns: *artist_id, name, location, latitude, longitude*)

- **time:** detailed time info about song plays (columns: *start_time, hour, day, week, month, year, weekday*)

In [4]:
#DROP and Creating de tables (staging_events, staging_songs, songplay, users, song, artist, time)
create_tables.main()

======= DROP TABLE START =======
======= DROP TABLE: staging_events
======= DROP TABLE: staging_songs
======= DROP TABLE: songplay
======= DROP TABLE: users
======= DROP TABLE: song
======= DROP TABLE: artist
======= DROP TABLE: time
======= DROP TABLE DONE =======
======= CREATE Table START =======
======= CREATE TABLE: staging_events
======= CREATE TABLE: staging_songs
======= CREATE TABLE: songplays
======= CREATE TABLE: users
======= CREATE TABLE: songs
======= CREATE TABLE: artists
======= CREATE TABLE: time
======= CREATE Table DONE =======

## 2.2 Creating Table Schemas

In [5]:
## Loading data from S3 (staging_events and staging_songs)
## Insert Tables (songplays, users, songs, artists and time)
etl.main()

AWS Redshift connection established OK.
Start loading data from S3 to AWS Reshift tables...
======= LOADING: ==>
    COPY staging_events FROM 's3://udacity-dend/log_data'
    credentials 'aws_iam_role=arn:aws:iam::128300692899:role/sparkifyRole'
    format as json 's3://udacity-dend/log_json_path.json'
    STATUPDATE ON
    region 'us-west-2';
 =======
=== DONE IN: 1.56 sec

======= LOADING: ==>
    COPY staging_songs FROM 's3://udacity-dend/song_data'
    credentials 'aws_iam_role=arn:aws:iam::128300692899:role/sparkifyRole'
    format as json 'auto'
    ACCEPTINVCHARS AS '^'
    STATUPDATE ON
    region 'us-west-2';
 =======
=== DONE IN: 84.26 sec

All files COPIED OK.
Start inserting data from staging tables into analysis tables...
======= Insert Table ==> songplays
=== DONE IN: 0.94 sec

======= Insert Table ==> users
=== DONE IN: 0.66 sec

======= Insert Table ==> songs
=== DONE IN: 1.10 sec

======= Insert Table ==> artists
=== DONE IN: 0.60 sec

======= Insert Table ==> time
=== DONE IN: 0.65 sec

All files INSERTED OK.

## 2.3 Clean up your resources

In [6]:
aws.delete_cluster()

======== Clean Cluster: sparkifyCluster